.expand-icon{
    color:#2dd2c2;
}
.question{
    font-size: large;    
    color: black;

}
.expand-button{
    --ripple-color: transparent;
    
}

.chat-btn {
    --background: rgb(64, 196, 248);
    --color: white;
}