<ion-header class="ion-no-border">
  <ion-toolbar class="barrierHeader">
    <ion-buttons class="btnContainer">
      <ion-button routerLink=".." class="backBtn">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="barrierTitle">Barreiras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="barrierContent">
  <div class="cardsContainer">

    <div class="card" #Q0>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="infoTitle">Motivos que dificultaram a realização da atividade física</ion-card-title>
        </ion-card-header>
        <ion-card-content class="infoContent">
          Dentre os fatores a seguir, selecione os mais comuns para você não praticar atividades físicas
        </ion-card-content>
        <div class="btnGroup">
          <ion-button class="startBtn" (click)="nextCard()">
            <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>

    <div class="card" #Q1>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle class="cardSubtitle">Fatores pessoais</ion-card-subtitle>
          <ion-card-title class="cardTitle">Não tenho interesse.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list class="answersContainer">
            <ion-radio-group>        
              <ion-item class="answer" lines="none">
                <ion-label>Sempre</ion-label>
                <ion-radio slot="start" [value]=4></ion-radio>
              </ion-item>
          
              <ion-item class="answer" lines="none">
                <ion-label>Quase sempre</ion-label>
                <ion-radio slot="start" [value]=3></ion-radio>
              </ion-item>
  
              <ion-item class="answer" lines="none">
                <ion-label>Às vezes</ion-label>
                <ion-radio slot="start" [value]=2></ion-radio>
              </ion-item>
  
              <ion-item class="answer" lines="none">
                <ion-label>Raramente</ion-label>
                <ion-radio slot="start" [value]=1></ion-radio>
              </ion-item>
  
              <ion-item class="answer" lines="none">
                <ion-label>Nunca</ion-label>
                <ion-radio slot="start" [value]=0></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
        <div class="btnGroup">
          <ion-button class="previousBtn" (click)="prevCard()">
            <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button class="nextBtn" (click)="nextCard()">
            <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>
    
    <div class="card" #Q2>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle class="cardSubtitle">Fatores pessoais</ion-card-subtitle>
          <ion-card-title class="cardTitle">Falta de tempo.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list class="answersContainer">
            <ion-radio-group>        
              <ion-item class="answer" lines="none">
                <ion-label>Sempre</ion-label>
                <ion-radio slot="start" [value]=4></ion-radio>
              </ion-item>
          
              <ion-item class="answer" lines="none">
                <ion-label>Quase sempre</ion-label>
                <ion-radio slot="start" [value]=3></ion-radio>
              </ion-item>
  
              <ion-item class="answer" lines="none">
                <ion-label>Às vezes</ion-label>
                <ion-radio slot="start" [value]=2></ion-radio>
              </ion-item>
  
              <ion-item class="answer" lines="none">
                <ion-label>Raramente</ion-label>
                <ion-radio slot="start" [value]=1></ion-radio>
              </ion-item>
  
              <ion-item class="answer" lines="none">
                <ion-label>Nunca</ion-label>
                <ion-radio slot="start" [value]=0></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
        <div class="btnGroup">
          <ion-button class="previousBtn" (click)="prevCard()">
            <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button class="nextBtn" (click)="nextCard()">
            <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>

  </div>

</ion-content>
