* {
    font-family: 'Segoe UI';
}

.scroll-content {
    padding-bottom: 0 !important;
}

.register-header {  
    height: 25%;
    width: 100%;
    text-align: center;
}

.upper-elipse {
    width: 85%;
    height: 45%;
    border-radius: 50%;
    background-color: #2dd2c2;
    position: absolute;
    top: -20%;
    left: 40%;
}

.bottom-circle {
    height: 27%;
    width: 30%;
    border-radius: 50%;
    background-color: #2dd2c2;
    position: absolute;
    bottom: -13%;
    left: -12%;
}

.back-btn {
    position: absolute;
    left: 0;
    --color: black;
    --ripple-color: white;
}

h1 {
    font-size: 32px;
    position: relative;
    top: 50%;
}

ion-content {
    --overflow: hidden;
}

.register-forms {
    max-height: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    color:black;
    overflow-y: auto;
}

.register-img {
    margin: auto;
    width: 100px;
    height: 100px;
    background: 
     linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) padding-box,
     linear-gradient(315deg, rgba(0,252,198,1) 0%, rgba(0,252,233,1) 35%, rgba(0,166,235,1) 100%) border-box;
    border: 2px solid transparent;
}

img {
    object-fit: scale-down;
    width: 75%;
}

.register-input {
    text-align: center;
    padding-bottom: 5%;
 }

.register-field {
    height: 46px;
    width: 80%;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    --padding-start: 50px;
    --padding-end: 50px;
    --padding-top: 14px;
    text-align: start;
    background: 
     linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) padding-box,
     linear-gradient(315deg, rgba(0,252,198,1) 0%, rgba(0,252,233,1) 35%, rgba(0,166,235,1) 100%) border-box;
    border: 2px solid transparent;
    border-radius: 23px;
}

ion-checkbox {
    margin-left: 12%;
    margin-right: 3%;
    --background-checked: #f9c022;
    --border-color-checked: #f9c022;
}

.token-field {
    width: 60%;
    height: 46px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    --padding-start: 40px;
    --padding-top: 14px;
    --padding-end: 40px;
    text-align: start;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(315deg, rgba(0,252,198,1) 0%, rgba(0,252,233,1) 35%, rgba(0,166,235,1) 100%);
    border-image-slice: 1;
    text-align: center;
}

.submit-text {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 25px;
    right: 75px;
}

.submit-btn {
    --background: #f9c022;
    width: 50px;
    height: 50px;
}