<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Profile - Brand</title>
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/assets/css/styles.min.css">
    </head>

<body class="text-center d-xl-flex align-items-center align-content-center align-self-center align-items-xl-center d-flex justify-content-center align-items-center jumbotron d-flex align-items-center">
    <div class="text-center">
        <div class="error mx-auto" data-text="404">
            <p class="m-0">404</p>
        </div>
        <p class="text-dark mb-5 lead">Página não encontrada</p>
        <p class="text-black-50 mb-0">Algo de errado aconteceu!</p><a href="/">← Voltar para o inicio</a></div>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/static/assets/js/script.min.js"></script>
</body>

</html>