{% extends 'health_team/base.html' %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>Faça o login aqui:</h1>
        <form method="post" action="{% url 'health_team:user_login' %}">
            {% csrf_token %}
            {# A more "HTML" way of creating the login form#}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="User">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Senha"><input type="submit" name="" value="Login">
        </form>
    </div>
</div>
{% endblock %}