<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <div class="dateDescr"><b>{{this.dayName}}</b>,  {{this.day}}  de  {{this.month}}</div>
      <div class="weekdays">
        <span *ngFor="let wDay of this.week" [ngClass]="{'availDay' : wDay < this.day,
                                                        'today'     : wDay == this.day,
                                                        'unavDay'   : wDay > this.day}"> {{wDay}} </span>
        
                      
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
</ion-content>
