.dateDescr {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 22px;
}

.weekdays {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.availDay {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    color: black;
    border: 2px solid #76F4ED;
    margin-right: 10px;
    font-weight: 600;
}

.today {
    display: inline-block;
    font-size: 15px;
    line-height: 32px;
    width: 32px;
    text-align: center;
    background-color: #76F4ED;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
    font-weight: 600;
}

.unavDay {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    color: black;
    border: 2px solid lightgray;
    margin-right: 10px;
    font-weight: 600;
}

.dot {
    height: 2px;
    width: 2px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}