<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="diaryHeader">
      <div class="dateDescr"><b>{{this.dayName}}</b>,  {{this.day}}  de  {{this.month}}</div>
    
      <ion-grid class="viewDays">
        <ion-row>
          <ion-col *ngFor="let wDay of this.week; let i = index" size="1" class="weekdays">
            <div class="daysName"> {{this.daysName[i]}} </div>
            <button (click)="getDiaryPage(wDay)" [ngClass]="{'availDay'  : wDay[3] === 'before',
                                                             'selected'  : wDay[3] === 'selected',
                                                             'unavDay'   : wDay[3] === 'after'}"> {{wDay[0]}} </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showACQ">
    <ion-card class="QACard questionnaire" routerLink="./questionario">
      <ion-card-header class="QAHeader">
        <ion-grid>
          <ion-row class="QAContainer">
              <ion-col>
                <ion-card-title class="QATitle">Questionário de Controle da Asma (ACQ)</ion-card-title>
              </ion-col>

              <ion-col class="questionnaireImg">
                <img src="../../../assets/images/survey_flat.png">
              </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="showBarriers">
    <ion-card class="QACard barrier" routerLink="./barreiras">
      <ion-card-header class="QAHeader barrierCard">
        <ion-grid>
          <ion-row class="QAContainer">
              <ion-col>
                <ion-card-title class="QATitle">Questionário de Barreiras</ion-card-title>
              </ion-col>

              <ion-col>
                <img src="../../../assets/images/barriers_flat.png" class="barrierImg">
              </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-header>
    </ion-card>
  </div>

  <div style="position: relative;">
    <button class="infoCard" (click)="presentPopUp('Tosse', 'tosse')">?</button>
    <ion-card class="sympCard">
      <ion-card-header class="sympHeader">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="../../../assets/images/cough_icon.png" class="sympIcon">
            </ion-col>
            
            <ion-col size="9">
              <ion-card-title class="sympTitle">Tosse</ion-card-title>
              <ion-card-subtitle class="sympSubt">Você teve tosse hoje?</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-radio-group [(ngModel)]="diaryPage.tosse">
            <ion-item lines="none">
              <ion-icon class="yesIcon" name="checkmark-circle" slot="start"></ion-icon>
              <ion-label>Sim</ion-label>
              <ion-radio slot="end" class="yesSymp" value="true" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>
    
            <ion-item lines="none">
              <ion-icon class="noIcon" name="close-circle-outline" slot="start"></ion-icon>
              <ion-label>Não</ion-label>
              <ion-radio slot="end" class="noSymp" value="false" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>
          </ion-radio-group>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div style="position: relative;">
    <button class="infoCard" (click)="presentPopUp('Chiado', 'chiado')">?</button>
    <ion-card class="sympCard">
      <ion-card-header class="sympHeader">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="../../../assets/images/lungs_icon.png" class="sympIcon">
            </ion-col>
            
            <ion-col size="9">
              <ion-card-title class="sympTitle">Chiado</ion-card-title>
              <ion-card-subtitle class="sympSubt">Você sentiu chiados no peito hoje?</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-radio-group [(ngModel)]="diaryPage.chiado">
            <ion-item lines="none">
              <ion-icon class="yesIcon" name="checkmark-circle" slot="start"></ion-icon>
              <ion-label>Sim</ion-label>
              <ion-radio slot="end" class="yesSymp" value="true" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-icon class="noIcon" name="close-circle-outline" slot="start"></ion-icon>
              <ion-label>Não</ion-label>
              <ion-radio slot="end" class="noSymp" value="false" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>
          </ion-radio-group>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div style="position: relative;">
    <button class="infoCard" (click)="presentPopUp('Falta de ar', 'faltaAr')">?</button>
    <ion-card class="sympCard">
      <ion-card-header class="sympHeader">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="../../../assets/images/air_icon.png" class="sympIcon">
            </ion-col>
            
            <ion-col size="9">
              <ion-card-title class="sympTitle">Falta de ar</ion-card-title>
              <ion-card-subtitle class="sympSubt">Você teve falta de ar hoje?</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-radio-group [(ngModel)]="diaryPage.faltaAr">
            <ion-item lines="none">
              <ion-icon class="yesIcon" name="checkmark-circle" slot="start"></ion-icon>
              <ion-label>Sim</ion-label>
              <ion-radio slot="end" class="yesSymp" value="true" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>
    
            <ion-item lines="none">
              <ion-icon class="noIcon" name="close-circle-outline" slot="start"></ion-icon>
              <ion-label>Não</ion-label>
              <ion-radio slot="end" class="noSymp" value="false" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>
          </ion-radio-group>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div style="position: relative;">
    <button class="infoCard" (click)="presentPopUp('Acordar', 'acordar')">?</button>
    <ion-card class="sympCard">
      <ion-card-header class="sympHeader">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="../../../assets/images/sleep_icon.png" class="sympIcon">
            </ion-col>
            
            <ion-col size="9">
              <ion-card-title class="sympTitle">Acordar</ion-card-title>
              <ion-card-subtitle class="sympSubt">Você teve dificuldade para dormir e/ou acordou por causa da asma hoje?</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-radio-group [(ngModel)]="diaryPage.acordar"> 
            <ion-item lines="none">
              <ion-icon class="yesIcon" name="checkmark-circle" slot="start"></ion-icon>
              <ion-label>Sim</ion-label>
              <ion-radio slot="end" class="yesSymp" value="true" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-icon class="noIcon" name="close-circle-outline" slot="start"></ion-icon>
              <ion-label>Não</ion-label>
              <ion-radio slot="end" class="noSymp" value="false" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>
          </ion-radio-group>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div style="position: relative;">
    <button class="infoCard" (click)="presentPopUp('Bombinha', 'bombinha')">?</button>
    <ion-card class="sympCard">
      <ion-card-header class="sympHeader">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="../../../assets/images/inhaler_icon.png" class="sympIcon">
            </ion-col>
            
            <ion-col size="9">
              <ion-card-title class="sympTitle">Bombinha</ion-card-title>
              <ion-card-subtitle class="sympSubt">Você usou a bombinha hoje?</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-radio-group [(ngModel)]="diaryPage.bombinha">
            <ion-item lines="none">
              <ion-icon class="yesIcon" name="checkmark-circle" slot="start"></ion-icon>
              <ion-label>Sim</ion-label>
              <ion-radio slot="end" class="yesSymp" value="true" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>
    
            <ion-item lines="none">
              <ion-icon class="noIcon" name="close-circle-outline" slot="start"></ion-icon>
              <ion-label>Não</ion-label>
              <ion-radio slot="end" class="noSymp" value="false" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-radio>
            </ion-item>
          </ion-radio-group>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div style="position: relative;">
    <button class="infoCard" (click)="presentPopUp('Pico de fluxo', 'pico')">?</button>
    <ion-card class="sympCard">
      <ion-card-header class="sympHeader">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="../../../assets/images/peak_icon.png" class="sympIcon">
            </ion-col>
            
            <ion-col size="9">
              <ion-card-title class="sympTitle">Pico de fluxo</ion-card-title>
              <ion-card-subtitle class="sympSubt">Coloque o valor indicado no seu medidor de fluxo expiratório.</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-label class="peakLabel">1ª Medição: </ion-label>
            <ion-textarea inputmode="text" maxlength="6" cols="4" rows="1" class="peakValue" 
            [(ngModel)]="diaryPage.pico[0]" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-textarea>
            <div class="peakUnit">L/min</div>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="peakLabel">2ª Medição: </ion-label>
            <ion-textarea inputmode="text" maxlength="6" cols="4" rows="1" class="peakValue" 
            [(ngModel)]="diaryPage.pico[1]" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-textarea>
            <div class="peakUnit">L/min</div>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="peakLabel">3ª Medição: </ion-label>
            <ion-textarea inputmode="text" maxlength="6" cols="4" rows="1" class="peakValue" 
            [(ngModel)]="diaryPage.pico[2]" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-textarea>
            <div class="peakUnit">L/min</div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div style="position: relative;">
    <button class="infoCard" (click)="presentPopUp('Anotações', 'note')">?</button>
    <ion-card class="sympCard">
      <ion-card-header class="sympHeader">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="../../../assets/images/sticky_note_icon.png" class="sympIcon">
            </ion-col>
            
            <ion-col size="9">
              <ion-card-title class="sympTitle">Anotações</ion-card-title>
              <ion-card-subtitle class="sympSubt">Você gostaria de fazer mais alguma observação?</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-textarea placeholder="Até 100 caracteres" inputmode="text" maxlength="100" rows="2" 
          [(ngModel)]="diaryPage.note" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setDiaryPage()" [disabled]="pageView[0].padStart(2, '0') !== this.day ? true : false">
      <img src="../../../../assets/images/save_icon.png" #saveIcon style="z-index: 10; width: 24px;">
      <div class="rect" style="width: 50px; height: 50px; background-color: #FFB000; position: absolute; left: -50px;" #loadingBack></div>
      <img src="../../../../assets/images/tick_icon.png" #checkIcon style="position: absolute; top: 50px; width: 24px;"> 
      <!-- <ion-icon name="save-outline"></ion-icon> -->
    </ion-fab-button>
  </ion-fab>

  <!-- <app-save-button style="position: fixed; bottom: 0px; left: 100px; z-index: 5;" ></app-save-button> -->
</ion-content>
