<div class="chart-header">
  <div class="steps-goal">/{{ goal }} passos</div>
  <div class="steps-given">{{ stepCanvas }}</div>
  <div class="chart">
    <canvas #stepsChart></canvas>
  </div>

  <div class="walking-person">
    <img [src]="walkingPersonImg">
  </div>

  <div class="minutes">
    <div class="minutes-img">
      <img class="img" src="../../../assets/images/active_minutes.png">
    </div>
    <div class="minutes-value"><span style="font-size: 15px;">{{ activeMinutes }}</span> <br>min</div>
  </div>

  <div class="distance">
    <div class="distance-img">
      <img class="img" src="../../../assets/images/distance.png">
    </div>
    <div class="distance-value"><span style="font-size: 15px;">{{ distance }}</span> <br>km</div>
  </div>
</div>
    
