
.steps-goal {
    position: absolute;
    z-index: 20;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.steps-given {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    font-weight: 700;
    color: white;
}

canvas {
    position: relative;
    width: 120% !important;
    height: 120% !important;
    margin-left: -10%;
    padding-top: 15%;
}

.chart {
    margin: 0 auto;
}

.walking-person {
    position: absolute;
    z-index: 25;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chart-header {
    background-color: rgb(45, 210, 194);
    height: 60%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}