.exercise-name {
    font-size: 150%;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 8%;
    padding-top: 5%;
}

.exercise-infos {
    text-align: justify;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 8%;
    font-size: 110%;
}

.exercise-infos-key {
    font-weight: 700;
}

.exercise-infos-value {
    color: orange;
}

.exercise-description {
    padding-left: 8%;
    text-align: justify;
    width: 92%;
    color: gray;
}
