.chart {
    margin: 0 auto;
}

.meta-text {
    font-size: 110%;
    padding-left: 5%;
    font-weight: 700;
}

ion-card {
    border-radius: 25px;
    width: 90%;
    position: relative;
    left: 2%;
    top: 3%;
}