
<header> <ion-toolbar>
    <ion-title class="title-text">Perfil</ion-title>
  </ion-toolbar>
</header>
<ion-content>
 

  <div class="profile-forms">
    <div class="profile-username">
      <ion-avatar class="profile-img">
       <ion-img [src]="user.imagem"></ion-img>
     </ion-avatar> 
     <ion-label class="profile-username">{{user.nome}} {{user.sobrenome}}</ion-label>
    </div>
  
  <div class="line-skip">
      </div>  

   
  <ion-text class="title-text">
     Metas & Conquistas
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-img>
          
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class= "button-profile">Log-out</ion-fab-button>
      <ion-fab-button class= "button-profile" routerLink="./change-profile">Editar dados</ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  

    
    



  </div>
 
</ion-content>
