.profile-title {
    padding-top: 15%;
    padding-left: 8%;
    background-color: #FFB347;
}

.title-text{
    font-size: 26px;
    font-weight: 700;
    color: white;  
}

.profile-header {
    padding-bottom: 10%;
    background-color: #FFB347;
}

ion-content {
    --background: #FFB347;
}

.profile-background {
    background-color: white;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 100%;
}

.profile-block {
    width: 100%;
    height: 10%;
    background-color: #FFB347;
}

.achievements-title {
    font-size: 26px;
    text-align: center;
    color: #474a51;
}

.float-btn-profile {
    --background: #FFB347;
}

.back-btn {
    position: absolute;
    left: 0;
    --color: black;
    --ripple-color: white;
}

.page-text {
    font-size: large;
    font-weight: 100;
    margin-top: 0;
}

.line-skip{
   height: 10px;
   width: 40px; 

}

.toolbar {
    background-color: rgb(162, 163, 163);
}
.profile-img {
    margin: auto;
    width: 125px;
    height: 125px;
    background: white;
    border: 4px solid transparent;
}
.profile-forms {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    color:black;
    overflow-y: auto;
    z-index: 10;
}
.profile-username {
    font-size: 25px;
    text-align: center;
   
}

.profile-infocard{
    
    background:#2dd2c2;
    
     
}
.profile-atributes {
    font-size: 10px;
    color:gray;
   
}
.user-atributes {
    font-size: 15px;
    color:black;
    text-align: center;   
}
.button-profile {
    margin: auto;
    width: 150px;
    height: 40px;
    
}
.achievement-img {
   margin:auto;
}
.achievement-button-background {
    background-color: rgb(162, 163, 163);
 }