
.building {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.building-img {
    height: 16em;
    width: 16em;
}

.oops-text {
    font-family: 'Segoe UI';
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 0;
}

.page-text {
    font-family: 'Segoe UI';
    font-size: large;
    font-weight: 100;
    margin-top: 0;
}

.dot {
    height: 2px;
    width: 2px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}

header {
    height: 70px;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: rgb(45, 210, 194);
}

.hello-header {
    font-size: 130%;
    padding-left: 5%;
    padding-bottom: 1%;
    color: white;
}

.bold-header {
    font-weight: 700;
}

.date-header {
    font-size: 90%;
    padding-left: 5%;
    color: white;
}

.meta-text {
    font-size: 120%;
    padding-left: 5%;
    font-weight: 700;
}

ion-card {
    border-radius: 25px;
    width: 90%;
    position: relative;
    left: 2%;
    top: 3%;
}

.goalChipUnselected {
    background-color: rgb(255,255,255);
}

.goalChipSelected {
    background-color: rgb(239,239,239);
}

.goal-features {
    font-size: 16px;
}

.goal-name {
    font-size: 20px;
}

.goal-icon {
    padding-right: 10px;
}



.submit-btn {
    --background: #f9c022;
    width: 50px;
    height: 50px;
}

.submit-text {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 25px;
    right: 75px;
}

.my-goals-img {
    width: 7%;
    height: 7%;
}