.input-login {
    position: relative;
}

.icon-input {
    border-radius: 50%;
    border: 2px solid gray;
    background-color: gray;
    color: white;
    position: absolute;
    top: 0;
    left: 15%;
    width: 46px;
    height: 46px;
    z-index: 9;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cpf-input {
    border: 1px solid;
    height: 46px;
    width: 70%;
    display: block;
    margin:0 auto;
    border-radius: 23px;
    box-sizing: border-box;
    outline: none;
    --padding-start: 50px;
    --padding-top: 14px
}

.btn-login {
    border-radius: 25px;
}

.login-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


