<ion-header class="ion-no-border profile-header">
  
    <ion-button routerLink="/tabs/perfil" color="clear">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="profile-title">
      <div class="title-text">Editar perfil</div>
    </ion-title>
  
</ion-header>

<ion-content *ngIf="userDefined">
  
  <div class="register-input" *ngIf="userDefined" >
    <ion-input class="register-field" placeholder={{user.nome}} type="text"
    autocapitalize="on" ></ion-input>
  </div>


  <div class="register-input">
    <ion-input class="register-field" placeholder={{user.sobrenome}} type="text" 
    autocapitalize="on" *ngIf="userDefined"></ion-input>
  </div>

  <div class="register-input">
    <ion-input class="register-field" placeholder={{user.rg}} type="text" *ngIf="userDefined"></ion-input>
  </div>

 
  <div class="register-input">
    <ion-input class="register-field" placeholder={{user.peso}} type="number" *ngIf="userDefined"></ion-input>
  </div>

  <div class="register-input">
    <ion-input class="register-field" placeholder={{user.altura}} type="number" *ngIf="userDefined"></ion-input>
  </div>

  <div class="register-input">
    <ion-input class="register-field" placeholder={{user.email}} type="text" *ngIf="userDefined"></ion-input>
  </div>

  <div class="register-input">
    <ion-input class="register-field" placeholder={{user.telefone}} type="number" *ngIf="userDefined"></ion-input>
  </div>

  <ion-card class="profile-infocard" nopaddings>
    <ion-list>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-justify-content-start">
             <ion-text class="profile-atributes" > Nome</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-center">
              <ion-text class="user-atributes" *ngIf="userDefined">{{user.nome}} {{user.sobrenome}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-justify-content-start">
             <ion-text class="profile-atributes" > RG </ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-center">
              <ion-text class="user-atributes" *ngIf="userDefined" >{{user.rg}}</ion-text>
            </ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-justify-content-start">
             <ion-text class="profile-atributes" > Email</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-center">
              <ion-text class="user-atributes" *ngIf="userDefined">{{user.email}}</ion-text>
            </ion-col>
           </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-justify-content-start">
             <ion-text class="profile-atributes" > Telefone </ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-center">
              <ion-text class="user-atributes" *ngIf="userDefined">{{user.telefone}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-justify-content-start">
             <ion-text class="profile-atributes" > Altura </ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-center">
              <ion-text class="user-atributes" *ngIf="userDefined">{{user.altura}} m</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-justify-content-start">
             <ion-text class="profile-atributes" > Peso </ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-center">
              <ion-text class="user-atributes" *ngIf="userDefined">{{user.peso}} kg</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


    </ion-list>
  </ion-card> 
</ion-content>
