<ion-header>
  <ion-grid><ion-row>
  <ion-button routerLink="/tabs/perfil" fill="clear" class="backbtn"><ion-icon name="arrow-back-outline" class="back-arrow"></ion-icon></ion-button>
    <ion-title>
      <div class="title-text">Editar perfil</div>
    </ion-title>
    </ion-row></ion-grid>
  
</ion-header>
<ion-content>
<div class="edit">
<div class="edit-input">
    <ion-text class="field-title" >NOME</ion-text>
    <br>
    <ion-input class="edit-field" placeholder={{user.nome}} type="text" 
    autocapitalize *ngIf="userDefined" [(ngModel)]="newData.nome" 
    [ngClass]="{
      'edit-field-empty': newData.nome==='',
      'edit-field' : newData.nome!==''}"> </ion-input>
  </div>

  <div class="edit-input">
    <ion-text class="field-title" clear-input="true" >SOBRENOME</ion-text>
    <br>
    <ion-input class="edit-field" placeholder={{user.sobrenome}} type="text" 
    autocapitalize="on" *ngIf="userDefined" [(ngModel)]="newData.sobrenome"
    [ngClass]="{
      'edit-field-empty': newData.sobrenome==='',
      'edit-field' : newData.sobrenome!==''}"></ion-input>
  </div>
  <div class="edit-input">
    <ion-text class="field-title" >RG</ion-text>
    <br>
    <ion-input class="edit-field-empty" placeholder={{user.rg}} readonly
    autocapitalize="on" *ngIf="userDefined" ></ion-input>
  </div>
  <div class="edit-input">
    <ion-text class="field-title" >CPF</ion-text>
    <br>
    <ion-input class="edit-field-empty" placeholder={{user.username}} type="text" readonly
    autocapitalize="on" *ngIf="userDefined" ></ion-input>
  </div>
 
  <div class="edit-input">
    <ion-text class="field-title" >PESO</ion-text>
    <br>
    <ion-input class="edit-field" placeholder={{user.peso}} type="number" *ngIf="userDefined" [(ngModel)]="newData.peso"
    [ngClass]="{
      'edit-field-empty': newData.peso===null,
      'edit-field' : newData.peso!==null}"></ion-input>
  </div>

  <div class="edit-input">
    <ion-text class="field-title" >ALTURA</ion-text>
    <br>
    <ion-input class="edit-field" placeholder={{user.altura}} type="number" *ngIf="userDefined" [(ngModel)]="newData.altura"
    [ngClass]="{
      'edit-field-empty': newData.altura===null,
      'edit-field' : newData.altura!==null}"></ion-input>
  </div>

  <div class="edit-input">
    <ion-text class="field-title" >EMAIL</ion-text>
    <br>
    <ion-input class="edit-field" placeholder={{user.email}} type="text" *ngIf="userDefined" [(ngModel)]="newData.email"
    [ngClass]="{
      'edit-field-empty': newData.email==='',
      'edit-field' : newData.email!==''}"></ion-input>
  </div>

  <div class="edit-input">
    <ion-text class="field-title" >TELEFONE</ion-text>
    <ion-input class="edit-field" placeholder={{user.telefone}} type="number" *ngIf="userDefined" [(ngModel)]="newData.telefone"
    [ngClass]="{
      'edit-field-empty': newData.telefone===null,
      'edit-field' : newData.telefone!==null}"></ion-input>
  </div>
</div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="confirmChanges()"  class="save-button" >
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
